.resim1{
    height: 200px;
    width: 200px;
}

section{
    height: 60rem;
}
.pgazete{
    margin: auto;
    margin-top: 45px;
}

footer{
    padding-bottom: 2rem;
    height: auto;
}