html {
    height: 100%;
    font-family: "Open Sans", sans-serif;
  }
body{
    height: 100%;
    box-sizing: border-box  ;
}


.navbar {
    flex-direction: column;
}

.navbar ul li {
    display: inline-block;
    padding: 0 1rem;
}


section{
    height: auto;
    padding-bottom: 1rem;
}

footer{
    height: auto;
    font-style: italic;
    letter-spacing: 0.5px;
    padding: 2rem;
    text-align: center;
    position: relative;
    background-color: #b8c0d3;
}

.sects-baslik{
    position: relative;
    text-align: center;
    background-color: #e8e8e8;
}

.Camarilla{
    height: 200px;
    background-image: url(../fotolar/bjhgvkjhsl.png);
    background-size: 100% 200px;
    border: 3px solid rgb(184, 8, 8);
    color: #a7a5a5;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style:none;
}


.Sabbat{
    height: 200px;
    border: 3px solid rgb(184, 8, 8);
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style:none;
    background: url(../fotolar/Adsz_tasarm_1.png);
    background-size: 100% 200px;
    color: #a7a5a5;
}
.Anarch{
    height: 200px;
    border: 3px solid rgb(184, 8, 8);
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style:none;
    background: url(../fotolar/behyfrvkjhsl_1.png);
    background-size: 100% 200px;
    color: #a7a5a5;
}
.Independent{
    height: 200;
    background-image: url(../fotolar/the_vampire_masquerade_by_reaperasingrimm-d423iol.jpg);
    background-size: 100% 200px;
    border: 3px solid rgb(184, 8, 8);
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style:none;
    color: #a7a5a5;
}

.camarillasects {
    padding-top: 1rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    list-style:none;
}

.camarillasects li{
    display: inline-block;
    padding: 0 1.5rem;
}

.clanssects{
    border: 3px solid rgb(184, 8, 8);
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style:none;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM3cQV42gy2YOCX-cHKd5o2Q1zlYcI-bKOR6gVAD-dTU_L7rSAwDW6WPkVpR73sUOjbIM&usqp=CAU);
}


.camarillasects {
    
    display: flex;
    justify-content: center;
    align-items: center;
    list-style:none;
}

.camarillasects li{
    display: inline-block;
    padding: 0 1.5rem;
    
}

.camarillasects li a{
    padding: 1rem;
    color: #a7a5a5;
    text-decoration: none;
}
.camarillasects li a:hover{
    background-color: rgb(95, 17, 17);
    color: white;
}

.clans-baslik {
    text-align: center;
}

.kisiler-baslik {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    margin-right: 4em;
    font-size: 2em;
    margin-left: 4em;
    padding-bottom: 2em;
    color: red;
}

.kisiyazi{
    background-color:  #dddddd;
    padding-bottom: 2rem;
}
.kisimetin {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    margin-right: 8em;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.5px;
    margin-left: 8em;
    background-color: rgb(243, 244, 247);
    border-bottom:solid #28243b ;
}
.kisimetin2 {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    margin-right: 8em;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.5px;
    margin-left: 8em;
    background-color: rgb(243, 244, 247);
    border-bottom:solid #28243b;
}
.kisimetin3 {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    margin-right: 8em;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.5px;
    margin-left: 8em;
    background-color: rgb(243, 244, 247);
    border-bottom:solid #28243b;
}
.kisimetin4 {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    margin-right: 8em;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.5px;
    margin-left: 8em;
    background-color: rgb(243, 244, 247);
    border-bottom:solid #28243b;
}

.coteriesbaslik {
    font-size: 2rem;
    text-align: center;
    color: red;
    padding: 2rem;
    padding-left: 2.5rem;
    padding-bottom: -2rem;
}

.coteriesyapı{
    text-align: center;
    border: solid black;
    background-color: white;
    width: 940px;
    height: 640px;
    margin-bottom: 18rem;
    margin-right: auto;
    margin-left: auto;

}

.coteriesicyapı{
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;

}

.coteriesacıklama{
    text-align: center;
    border: solid black;
    background-color: white;
    margin: 30px;
    margin-top: 60px;
    padding-bottom: 20px;
}



.diagram{
    height: 500px;
    width:800px
}
